<div class="container">
    <div class="position-relative overflow-hidden p-3 text-left bg-light">
      <!-- <img  src="./assets/images/footboller.png" width="240" height="60" class="m-3"/> -->
          <!-- Example row of columns -->
          <div class="row">
            <div class="col-md-3 border-right">
              <h6>Турниры</h6>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-9">
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
            <!-- <div class="col-md-3">
              <h6>Матчи</h6>
              <app-matches></app-matches>
              <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
              <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div> -->
          </div>
        
          <hr>
  
          <footer class="container">
            <p>&copy; Company 2017-2018</p>
          </footer>
    </div>
  </div>